<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobileproject.incidentreport" >
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OLoginActivity"
            android:label="@string/title_activity_ologin"
            android:theme="@style/AppTheme.NoActionBar1" >
        </activity>
        <activity
            android:name=".User_Menu"
            android:label="@string/title_activity_user__menu">
        </activity>
        <activity
            android:name=".Officer_Menu"
            android:label="@string/title_activity_officer__menu">
        </activity>
        <activity
            android:name=".Report_A_Incident"
            android:label="@string/title_activity_report__a__incident"
            android:parentActivityName=".User_Menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mobileproject.incidentreport.User_Menu" />
        </activity>
    </application>

</manifest>
